@import '../../styles/sass/main.scss';

h1.typography {
	@include media(tab-port) {
		font-size: 7rem !important;
	}

	@include media(phone) {
		font-size: 4rem !important;
	}

	@include media(small-phone) {
		font-size: 2.8rem !important;
	}
}

h2.typography {
	@include media(tab-port) {
		font-size: 6rem !important;
	}

	@include media(phone) {
		font-size: 4rem !important;
	}

	@include media(small-phone) {
		font-size: 2.6rem !important;
	}
}

h4.typography {
	@include media(tab-port) {
		font-size: 3rem !important;
	}

	@include media(phone) {
		font-size: 2.6rem !important;
	}

	@include media(small-phone) {
		font-size: 2rem !important;
	}
}

h6.typography {
	@include media(tab-port) {
		font-size: 2.8rem !important;
	}

	@include media(phone) {
		font-size: 2rem !important;
	}

	@include media(small-phone) {
		font-size: 1.4rem !important;
	}
}

p.typography {
	font-size: 1.7rem;
	text-align: justify;
	line-height: 1.6;
	word-spacing: 0.2rem;

	@include media(tab-port) {
		font-size: 2.8rem;
	}

	@include media(phone) {
		font-size: 2rem;
		line-height: 1.6;
	}

	@include media(small-phone) {
		font-size: 1.4rem;
	}
}
