*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100%;

	@include media(tab-port) {
		padding: 3rem;
	}

	@include media(phone) {
		padding: 2rem;
	}
}
