*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	width: 100%;

	@include media(lg-tab-land) {
		padding: 0 10rem;
	}

	@include media(tab-land) {
		padding: 0 8rem;
	}

	@include media(lg-tab-port) {
		padding: 0 6rem;
	}

	@include media(phone) {
		padding: 0 2rem;
	}

	// @include media(tab-port) {
	// 	padding: 3rem;
	// }

	// @include media(phone) {
	// 	padding: 2rem;
	// }
}
