.margin {
	&Bottom {
		&Small {
			margin-bottom: 0.8rem !important;
		}

		&Medium {
			margin-bottom: 2rem !important;

			@include media(tab-port) {
				margin-bottom: 3rem !important;
			}
		}

		&SemiLarge {
			margin-bottom: 3rem !important;

			@include media(tab-port) {
				margin-bottom: 3.3rem !important;
			}
		}

		&Large {
			margin-bottom: 4rem !important;

			@include media(tab-port) {
				margin-bottom: 6rem !important;
			}

			@include media(phone) {
				margin-bottom: 3.6rem !important;
			}
		}

		&XL {
			margin-bottom: 5rem !important;

			@include media(tab-port) {
				margin-bottom: 4rem !important;
			}

			@include media(phone) {
				margin-bottom: 3rem !important;
			}
		}

		&XXL {
			margin-bottom: 6rem !important;
		}
	}

	&Top {
		&Small {
			margin-top: 0.8rem !important;
		}
	}
}
