.margin {
	&Bottom {
		&Small {
			margin-bottom: 0.8rem !important;
		}

		&Medium {
			margin-bottom: 2rem !important;

			@include media(tab-port) {
				margin-bottom: 3rem !important;
			}

			// @include media(phone) {
			// 	margin-bottom: 2rem !important;
			// }
		}

		&Large {
			margin-bottom: 4rem !important;

			@include media(tab-port) {
				margin-bottom: 6rem !important;
			}

			@include media(phone) {
				margin-bottom: 3.5rem !important;
			}
		}
	}
}
