@import '../../styles/sass/main.scss';

.customLi {
	position: relative;
	padding-left: 2rem;

	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		height: 30%;
		aspect-ratio: 1 / 1;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

.customUlPrimary {
	list-style-type: none;
	& .customLi {
		&::before {
			background-color: $color-primary;
		}
	}
}

.customUlSecondary {
	list-style-type: none;
	& .customLi {
		&::before {
			background-color: $color-grey;
		}
	}
}
