@use "./styles/variables" as *;
@use "./styles/animations" as *;
@use "./styles/mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: $font-body;
  font-weight: 400;
  line-height: 1.6;
  color: #797979;
  word-spacing: 0.3rem;
}

.bg-layer {
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)),
    url("../public/images/minimalist_background.avif");
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

.heading {
  font-family: $font-heading;
  text-align: center;
  color: $color-black;
  line-height: 0.95;
  font-weight: 500;

  &--primary {
    font-size: 12rem;
    color: #d5d5d5;
  }
}

.header {
  @include max-width-center;
}

.section {
  @include max-width-center;
}

.mg {
  &--b {
    &--lg {
      margin-bottom: 4rem;
    }
  }
}
