@import '../../styles/sass/main.scss';

$menu-item-gap: 6rem;

.header {
	max-width: $max-width;
	position: fixed;
	top: 0;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

:global {
	.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
		display: none;

		@include media(tab) {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 2.2rem;
		}

		@include media(phone) {
			padding: 2rem;
		}
	}
}

.menuButton {
	&Icon {
		@include media(tab) {
			font-size: 4.5rem !important;
			color: $color-dark;
		}

		@include media(phone) {
			font-size: 4rem !important;
		}
	}
}

.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2.5rem 0;

	@include media(tab-port) {
		padding: 4rem;
	}

	@include media(tab) {
		padding: 0;
	}

	// @include media(phone) {
	// 	padding: 0;
	// }

	&Container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		gap: $menu-item-gap;

		@include media(tab) {
			display: none;
		}

		// @include media(phone) {
		// 	display: none;
		// }
	}

	&ContainerMobile {
		display: none;

		@include media(tab) {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 9rem;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			list-style-type: none;
			background-color: lighten($color-primary, 5%);
		}

		@include media(phone) {
			top: 8rem;
		}
	}
}
